<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-3"></div>
    <div class="col-sm-12 col-lg-6">
    
      <div class="shadow border px-4 py-4 mb-4">


        <h2 class="text-center text-head text-success">Edit <%= resource_name.to_s.humanize %></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field form-group">
            <%= f.label :email, for: "exampleInputEmail1"  %> 
            <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "form-control", id: "exampleInputEmail1",  placeholder: "Your new Email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field form-group">
            <%= f.label :password, for: "Passwordconfirmation" %> <br> <small> <i> (leave blank if you don't want to change it)</i></small> <br />
            <%= f.password_field :password, autocomplete: "new-password", id: "Passwordconfirmation", class: "form-control", placeholder: "Your new Password" %>
            <% if @minimum_password_length %>
              <small><em><%= @minimum_password_length %> characters minimum</em></small>
            <% end %>
          </div>

          <div class="field form-group">
            <%= f.label :password_confirmation, for: "Passwordconfirmation" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "Passwordconfirmation" , class: "form-control", placeholder: "Confirm Your password" %>
          </div>

          <div class="field form-group">
            <%= f.label :current_password, for: "newPassword" %> <br> <small> <i>(we need your current password to confirm your changes)</i> </small> <br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", id: "newPassword", class:"form-control", placeholder: "Your current Password" %>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: "btn btn-outline-success" %>
          </div>
        <% end %>

        <div>
          <h3 class="text-danger">Cancel my account</h3>
          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "text-danger" %></p>
          <%= link_to "Back", :back %>
        </div>



      
      </div>
    
    </div>
    <div class="col-sm-12 col-lg-3"></div>
  </div>
</div>






