<p id="notice"><%= notice %></p>

<h1>Showing activity details</h1>

<p> Activity name: <%= @activity.name%></p>
<p>Activity Date: <%= @activity.date%> </p>



<p> Start at: <%=  @activity.start_time%> </p>

<p>End at: <%= @activity.end_time %> </p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
