<div class="bg-rowe">
    <div class="container">
        <div class="row">
            <%# here %>
          <div class="m-auto">

                <h1 class="text-center text-head text-white py-4">Showing activity details</h1>

                <%#  %>
            <div class="out-card border-info shadow">
              <div class="main-card">
              <div class="inner-card">
                <div class="user-info">
                  <div class="round">
                    <%# <img src="" alt="user" > %>
                  </div>
                  <div class="user-name">
                    <span class="name"><%= @activity.user.username if @activity.user %></span>
                    <span class="email"><%= @activity.user.email %></span>
                  </div>
                    
                </div>
            
                <div class="activity-stats">
                  <p class="activity-name font-italic text-success">  <%= @activity.name %> </p>
                  <p class="activity-date">On: <%= @activity.date.strftime("%B/%d/%Y") %></p>
                  <p class="activity-time">For About: 2hrs 30 min</p>
                </div>
              
              </div>
                <div class="text-center">     
                  <%= link_to "Edit", edit_activity_path(@activity), class:"btn-sm btn-info" %>
                  <%= link_to "Delete", activity_path(@activity), class:"btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
            </div>
      
            <div class="time-in shadow">
              <small><span class="badge  badge-info">Created</span> : <%= time_ago_in_words(@activity.created_at) %> ago, <span class="badge badge-info">Edited</span> : <%= time_ago_in_words(@activity.updated_at) %> ago</small>   
              </div>
            </div>
          

              <p class="text py-4"> 
                <%= link_to 'Activity Listing', activities_path, class: "btn btn-dark text-center" %>
              </p>

          </div> 
            <%#  %>
        </div>

    </div>
</div>



