<!DOCTYPE html>
<html>
  <head>
    <title>MoveAndGroove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('ruby.png') %>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="nav">
      <%= render "layouts/navigation"%>

    </div>

    <%= yield %>

    <div id="footer">
      <%= render "layouts/footer"%>
    </div>
  </body>
</html>
